body{
    background-color: #00694c;
    color: white;
    font-size: 36px;    
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
    width: 48%;
    height: 95vh; 
}   
.filter{ display:none;}
.flexline {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;

}
.header{
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    flex: 1;
    justify-content: space-between;
}
.header:first-child {
    flex: 2;
  }

.testWord{
    height: 400px;
    overflow: auto;
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
}
label {
    display: block;
}

h2 {
    margin: 0px;
    margin-bottom: 0.5em;
    font-size:  1em;
}

h1{
    text-decoration:    underline;
    font-size:  1.1em;
    margin: 0px;
    white-space:nowrap;
}
input, textarea{
    font-size:  0.7em;
    margin: 0px;
}
.input {
    width: 100%;    
}    

a {
    color: white;  
    font-size:  0.7em;
}
a:visited {
    color: white;  
    font-size:  0.9em;
}

.Panel {
    border: none;
    margin: 3px;
    padding:0px 20px;
    text-align: center;
}
.words{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    Justify-content: space-around;
}
p {
    font-size:  0.7em;
    font-style: italic;
    padding: 0px;
    margin: 0px;
    line-height: 1.2;
}
p.comment{
    font-size:  0.5em;
    
} 
.button {
    text-align: center;
    padding: 0.25rem 0.5rem;
    line-height: 1.1;
    padding:0px 10px;
    margin: 0px;
    border: none;
    background-color: #00694c;
    color: white;
    font-size: 1em;

}
.button:hover {
    font-weight: bold;
}
.button:focus{
   outline: none;
}

.hide {
    color: #00694c;   
}

.buttonBlock {
    display: flex;
    justify-content: space-around;
    margin: 3px;
    padding: 0px;
}

.last{
    margin-top: 40px;
    width:  100%;
    text-align: center;
}


/*
.word:active {
    opacity = '0.4';
}

.col{ 
    position: relative;
}
.container {
   
}
*/